{{ "<!-- Hero -->" | safeHTML }}
<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in"><img style="margin:0px auto;display:block" src="/img/Webspace.png" class="img-responsive" alt="webspace"></div>
        <!--{{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }} -->
      <div class="intro-heading">{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</div>
      <a href="#services" class="page-scroll btn btn-xl responsive-width">{{ with .Site.Params.hero.buttonText }}{{ . }}{{ end }}</a>
      <a href="#contact" class="page-scroll btn btn-xl responsive-width">Request a Call</a>
    </div>
  </div>
</header>
