{{ "<!-- Hero -->" | safeHTML }}
<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in"><img src="/img/Webspace.png" alt="webspace"></div>
        <!--{{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }} -->
      <div class="intro-heading">{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</div>
      <a href="#services" class="page-scroll btn btn-xl">{{ with .Site.Params.hero.buttonText }}{{ . }}{{ end }}</a>
    </div>
  </div>
</header>
